<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet"  href=""   />
</head>
<body>
    	
	<div class="addAdmin">
		<h3 style="color: red;">ADD NEW ADMIN/PARTNER</h3>
		<form action="" th:action="@{/addingAdmin}" method="post">
			email :
			<input type="email" name="userEmail" placeholder="Enter email..." class="adminName" minlength="2" required>
			<br />

			password :
			<input type="password" name="UserPassword" placeholder="Enter password..." class="adminEmail" required><br />

	
			<button type="submit">Add_Admin</button>
		</form>
    
</body>
</html>