<!-- <!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" href="" th:href="@{/css/Update_Admin.css}" />
</head>
<body>
		<a href="/services">Back to Services</a>
	<div class="updateAdmin">
				<h3 style="color: red;">UPDATE EXISTING ADMIN / PARTNER DETAILS</h3>
		<form action="" th:object="${use}">
			Admin_Id :
			<input type="hidden" name="adminId" th:value="${use.userId}" th:text="${use.userId}"/><br />
			Admin_Name :
			<input type="hidden"  name="adminName"    th:value="${use.userName}" th:text="${use.userName}"/><br/>
			Admin_Number :
			<input type="hidden"  name="adminNumber" th:value="${use.userNumber}"  th:text="${use.userNumber}" /> <br/>
			Admin_Email :
			<input type="hidden" name="adminEmail" th:value="${use.userEmail}"  th:text="${use.userEmail}"/> <br/>
			
			
			
		</form>
	</div>
</body>
</html>   -->